In [30]:
import pandas as pd
import numpy as np
df = pd.read_csv('horse_data.csv', na_values=('?'))
df.columns = (['surgery?',                                      # 'Хирургия? (1 -да/2 -нет)',
                       'Age',                                   # 'Возраст (1-взрослая/2-молодая)', 
                        'Hospital_Number',                      # 'Номер госпитализации (id)',
                       'rectal_temperature',                    # 'Ректальная температура (норм 37,8)',   
                        'pulse',                                # 'Пульс (норм 30-40)',
                       'respiratory_rate',                      # 'Частота дыхания (норм 8-10)', 
                        'temperature_of_extr',                  # 'температура конечностей (1-норм, 2-горячо, 3-прохладно, 4-холодно)',
                       'peripheral_pulse',                      # 'периферический пульс (1-норм/4-отсутствие)'
                        'mucous_membranes',                     # 'слизистые оболочки (1-норм/6-темно-синий)',
                       'capillary_refill_time',                 # 'время пополнения капилляров (1 -до 3сек/2 -больше 3 сек)'
                        'pain',                                 # 'боль(1 -норм/5 -непрерывная сильная боль)',
                       'peristalsis',                           # 'перистальтика(1-гипермотиль, 2-норм, 3-гипо, 4-отсутствует)'
                        'abdominal_distension',                 # 'вздутие живота(1-нет/4-сильно)',
                       'nasogastric_tube',                      # 'назогастральный зонд(1 -нет/2 -существенно)'
                        'nasogastric_reflux',                   # 'назогастральный рефлюкс(1-нет, 2-больше 1 л, 3-меньше 1 л)',
                       'nasogastric_reflux_PH',                 # 'назогастральный рефлюкс РН(3-4 - норм)'
                        'rectal_examination',                   # 'ректальное исследование(1 -норм/4 -отсутствует)',
                       'abdomen',                               # 'брюшная полость(1-норм, 2-другое, 3--5-проблемы)'
                        'packed_cell_volume',                   # 'объем упакованных клеток(30-50-норм)',
                       'total_protein',                         # 'общий белок(6-7,5-норм)'
                        'abdominocentesis_appearance',          # 'внешний вид абдоминоцентеза(1-норм, 2 и 3-проблемы)',
                       'abdomcentesis_total_protein',           # 'абдоминоцентез общий белок(чем выше, тем хуже)'
                        'outcome',                              # 'гибель (1-жив, 2-мертв, 3-усыплен)',
                       'surgical_lesion?',                      # 'хирургическое повреждение?(1 -да/2 -нет)'
                        'type_of_lesion',                       # 'тип повреждения(1-11-орган поражения/1-4-тип_смерти/1,2,0/0-10)', 
                       '25',                                    #'25',
                        '26',                                   # '26',
                       'cp_data']) 
df_analyse = df[['surgery?', 'Age', 'pulse', 'respiratory_rate', 'pain', 'packed_cell_volume', 'outcome', 'surgical_lesion?']]
df_analyse.describe()

,surgery?,Age,pulse,respiratory_rate,pain,packed_cell_volume,outcome,surgical_lesion?
count,298.000000,299.00000,275.000000,241.000000,244.000000,270.000000,298.000000,299.000000
mean,1.395973,1.64214,71.934545,30.427386,2.942623,46.300000,1.550336,1.361204
std,0.489881,2.17730,28.680522,17.678256,1.303993,10.438384,0.737967,0.481155
min,1.000000,1.00000,30.000000,8.000000,1.000000,23.000000,1.000000,1.000000
25%,1.000000,1.00000,48.000000,18.000000,2.000000,38.000000,1.000000,1.000000
50%,1.000000,1.00000,64.000000,24.000000,3.000000,45.000000,1.000000,1.000000
75%,2.000000,1.00000,88.000000,36.000000,4.000000,52.000000,2.000000,2.000000
max,2.000000,9.00000,184.000000,96.000000,5.000000,75.000000,3.000000,2.000000

In [53]:
df_analyse.sort_values('surgery?')

,surgery?,Age,pulse,respiratory_rate,pain,packed_cell_volume,outcome,surgical_lesion?
0,1.0,1,88.0,20.0,3.0,50.0,3.0,2
167,1.0,1,104.0,40.0,2.0,55.0,1.0,1
168,1.0,1,65.0,24.0,5.0,45.0,3.0,1
171,1.0,1,129.0,48.0,2.0,57.0,1.0,1
172,1.0,1,104.0,24.0,2.0,69.0,2.0,1
...,...,...,...,...,...,...,...,...
194,2.0,1,44.0,12.0,3.0,42.0,1.0,2
195,2.0,1,60.0,20.0,2.0,63.0,3.0,2
68,2.0,1,48.0,12.0,1.0,42.0,1.0,2
149,2.0,1,44.0,14.0,2.0,33.0,1.0,2
131,NaN,1,48.0,20.0,4.0,43.0,NaN,1

In [42]:
# df_analyse.info()
df_analyse = df_analyse.dropna(thresh=6)

In [43]:
df_analyse.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 0 to 298
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   surgery?            285 non-null    float64
 1   Age                 286 non-null    int64
 2   pulse               273 non-null    float64
 3   respiratory_rate    241 non-null    float64
 4   pain                241 non-null    float64
 5   packed_cell_volume  266 non-null    float64
 6   outcome             285 non-null    float64
 7   surgical_lesion?    286 non-null    int64
dtypes: float64(6), int64(2)
memory usage: 20.1 KB

In [46]:
df_analyse.pulse.fillna(df_analyse.pulse.median(), inplace=True)
df_analyse.respiratory_rate.fillna(df_analyse.respiratory_rate.median(), inplace=True)
df_analyse.pain.fillna(df_analyse.pain.median(), inplace=True)
df_analyse.packed_cell_volume.fillna(df_analyse.packed_cell_volume.median(), inplace=True)

In [47]:
df_analyse.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 0 to 298
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   surgery?            285 non-null    float64
 1   Age                 286 non-null    int64
 2   pulse               286 non-null    float64
 3   respiratory_rate    286 non-null    float64
 4   pain                286 non-null    float64
 5   packed_cell_volume  286 non-null    float64
 6   outcome             285 non-null    float64
 7   surgical_lesion?    286 non-null    int64
dtypes: float64(6), int64(2)
memory usage: 20.1 KB

In [54]:
df_analyse.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285 entries, 0 to 298
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   surgery?            285 non-null    float64
 1   Age                 285 non-null    int64
 2   pulse               285 non-null    float64
 3   respiratory_rate    285 non-null    float64
 4   pain                285 non-null    float64
 5   packed_cell_volume  285 non-null    float64
 6   outcome             285 non-null    float64
 7   surgical_lesion?    285 non-null    int64
dtypes: float64(6), int64(2)
memory usage: 20.0 KB

In [57]:
q1 = df.pulse.quantile(0.25)
q3 = df.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df_analyse[df_analyse.pulse.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
pd.concat([df_analyse, remove_outliers]).drop_duplicates(keep=False)

,surgery?,Age,pulse,respiratory_rate,pain,packed_cell_volume,outcome,surgical_lesion?
2,1.0,9,164.0,84.0,2.0,48.0,2.0,1
40,2.0,9,150.0,72.0,3.0,47.0,1.0,1
54,1.0,9,160.0,20.0,3.0,38.0,2.0,1
254,1.0,9,184.0,84.0,4.0,33.0,2.0,1
274,1.0,9,150.0,50.0,5.0,50.0,2.0,1

In [58]:
q1 = df.pulse.quantile(0.25)
q3 = df.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df_analyse[df_analyse.pulse.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
pd.concat([df_analyse, remove_outliers]).drop_duplicates(keep=False)

,surgery?,Age,pulse,respiratory_rate,pain,packed_cell_volume,outcome,surgical_lesion?
2,1.0,9,164.0,84.0,2.0,48.0,2.0,1
40,2.0,9,150.0,72.0,3.0,47.0,1.0,1
54,1.0,9,160.0,20.0,3.0,38.0,2.0,1
254,1.0,9,184.0,84.0,4.0,33.0,2.0,1
274,1.0,9,150.0,50.0,5.0,50.0,2.0,1

In [59]:
q1 = df.respiratory_rate.quantile(0.25)
q3 = df.respiratory_rate.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers2 = df_analyse[df_analyse.respiratory_rate.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
pd.concat([df_analyse, remove_outliers2]).drop_duplicates(keep=False)

,surgery?,Age,pulse,respiratory_rate,pain,packed_cell_volume,outcome,surgical_lesion?
2,1.0,9,164.0,84.0,2.0,48.0,2.0,1
38,1.0,9,146.0,96.0,3.0,45.0,2.0,1
40,2.0,9,150.0,72.0,3.0,47.0,1.0,1
81,1.0,9,100.0,80.0,3.0,36.0,1.0,1
83,1.0,1,60.0,80.0,2.0,40.0,1.0,1
102,1.0,9,140.0,68.0,3.0,39.0,1.0,1
105,1.0,1,52.0,96.0,3.0,43.0,1.0,1
119,1.0,1,54.0,66.0,2.0,39.0,1.0,1
124,1.0,1,42.0,68.0,3.0,41.0,1.0,1
207,1.0,1,88.0,80.0,3.0,64.0,3.0,1
228,1.0,9,120.0,70.0,3.0,35.0,1.0,1
243,1.0,9,124.0,88.0,2.0,47.0,1.0,1
254,1.0,9,184.0,84.0,4.0,33.0,2.0,1
264,2.0,1,56.0,68.0,3.0,40.0,3.0,1
294,1.0,1,120.0,70.0,2.0,55.0,3.0,2

In [60]:
q1 = df.packed_cell_volume.quantile(0.25)
q3 = df.packed_cell_volume.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers3 = df_analyse[df_analyse.packed_cell_volume.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
pd.concat([df_analyse, remove_outliers3]).drop_duplicates(keep=False)

,surgery?,Age,pulse,respiratory_rate,pain,packed_cell_volume,outcome,surgical_lesion?
3,2.0,1,104.0,35.0,3.0,74.0,2.0,2
143,1.0,1,84.0,40.0,2.0,75.0,3.0,2
150,1.0,1,64.0,24.0,4.0,75.0,2.0,1

In [ ]:
# в данных колонках не вижу явные выбросы, которые нужно удалить. 
# Заметил одну закономерность. Умершие или усыпленные лошади чаще испытывали сильную боль 5, были прооперированы.
# И гибель напрямую зависит хирургического повреждения.
# Совпадение? Не думаю...
# На самом деле данные требуют уточнений...